body    {
    background-color: honeydew;
    margin: -30px 0px 0px 0px;
    font-family: monospace;
}

h1  {
    background-color: #4484CE;
    color: honeydew;
    text-shadow: 1px 1px 1px black;
    font-family: monospace;
    font-size: 50px;
    text-align: center;
    margin: 30px auto
}

.center90 {
    width: 90%;
    margin: auto;
}

header  {
    background-color: #4484CE !important;
    height: 25% !important;
}

.detailhead {
    font-size: 16px;

}

#nyheder    {
    padding-top: 20px;
}

#feed   {
    padding: 20px 20px 20px 20px;
    border: solid black 2px;
    border-radius: 2px;
    box-shadow: 5px 5px 3px grey;
    font-family: monospace;
    background-color: whitesmoke;
    font-weight: bold;
    width: 75%;
    margin: auto;
    margin-top: 50px;
    max-height: 75%;
}

#feedContainer    {
    border: solid black 1px;
    border-radius: 2px;
    font-weight: normal;
}

#feedIndhold    {
    font-size: 14px;
    border-left: solid 3px #008CBA;
}

.menubutton button {

    background-color: #4484CE;
    border: 1px solid #493E3E;
    color: honeydew; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    border-radius: 2px;
    font-size: 15px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #111214;
}

.menubutton button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.menubutton:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.menubutton button:hover {
    background-color: #dbb600;
    color: honeydew;
}

input {
    display: block;
    width: 50%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
    margin: 7px 0px 7px 0px;
}