<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Create Employee</title>
    <link rel="stylesheet" type="text/css"  href="homepage.css" />
    <link rel="stylesheet" type="text/css"  href="Table.css" />
</head>
<body>
<header style="background-color: #96CCD7; height: 25%" id="header">
    <h1>Roskilde Frie Børnehave</h1>
    <nav class="menubutton" style="width: 100%">
        <a th:href="index.html">
            <button style="width: 25%">Forside</button>
        </a>
        <a th:href="oplysKid.html">
            <button style="width: 25%">Oplysninger</button>
        </a>
        <a th:href="oplysEmp.html">
            <button style="width: 25%">Info ansatte</button>
        </a>
        <a th:href="vagtplan.html">
            <button style="width: 25%">Vagtplan</button>
        </a>
    </nav>
</header>
<h1>Opret ny ansat i systemet</h1>
<form method="Post" th:action="@{/createEmp}">
    <label>Fornavn:</label>
    <input type="text" th:field="${employee.fornavn}" required="true" />
    <label>Efternavn</label>
    <input type="text" th:field="${employee.efternavn}" required="true" />
    <label>Alder:</label>
    <input type="text" th:field="${employee.alder}" required="true" />
    <label>Stilling</label>
    <input type="text" th:field="${employee.stilling}" required="true" />
    <label>Telefonnummer</label>
    <input type="text" th:field="${employee.telefonnr}" required="true" />
    <input type="submit" value="Send" />
</form>
</body>
</html>