<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{Style.css}" href="style.css"/>
</head>
<body>
<h2>Are you sure you want to delete</h2>

<form action="#" th:action="@{/delete}" method="post">
    <p th:text="${kid.fornavn + ' ' +  kid.efternavn}"></p>
    <input type="hidden" th:field="${kid.ID}"/>
    <input type="submit" value="YES" class="btn btn-del w"/>
    <a href="/" class="btn btn-create w">NO</a>
</form>
</body>
</html>