<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" type="text/css" th:href="@{Homepage.css}" href="homepage.css" />
<head>
    <title>Details</title>
</head>
<body>
<header style="background-color: #96CCD7; height: 25%" id="header">
    <h1>Roskilde Frie Børnehave</h1>
    <nav class="menubutton" style="width: 100%">
        <a th:href="index.html">
            <button style="width: 25%">Forside</button>
        </a>
        <a th:href="oplysKid.html">
            <button style="width: 25%">Oplysninger</button>
        </a>
        <a th:href="oplysEmp.html">
            <button style="width: 25%">Info ansatte</button>
        </a>
        <a th:href="vagtplan.html">
            <button style="width: 25%">Vagtplan</button>
        </a>
    </nav>
</header>
<h1>Details</h1>
<p th:text="'ID: ' + ${kid.ID}"/>
<p th:text="'Fornavn: ' + ${kid.fornavn}"/>
<p th:text="'Efternavn: ' + ${kid.efternavn}"/>
<p th:text="'Alder: ' + ${kid.fodselsdag}"/>
<p th:text="'Indkrivningsår: ' + ${kid.indskrivning}"/>
<p th:text="'Forældre: ' + ${kid.foraelder}"/>
<p th:text="'Telefonnummer: ' + ${kid.nummer}"/>


</body>
</html>