<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" type="text/css" th:href="@{style.css}" href="style.css"/>
<head>
    <title>Details</title>
</head>
<body>
<h1>Details</h1>
<p th:text="'ID: ' + ${employee.ID}"/>
<p th:text="'First Name: ' + ${employee.fornavn}"/>
<p th:text="'LastName: ' + ${employee.efternavn}"/>
<p th:text="'Alder: ' + ${employee.alder}"/>
<p th:text="'Stilling: ' + ${employee.stilling}"/>
<p th:text="'telefonnr: ' + ${employee.telefonnr}"/>
<h2 th:text="'Enrollments for ' + ${employee.fornavn} + ' ' + ${employee.efternavn}"></h2>
<p>The content here will come later</p>

</body>
</html>