<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Edit student</title>
    <link rel="stylesheet" type="text/css" th:href="@{Homepage.css}" href="homepage.css" />
</head>
<body>
<header style="background-color: #96CCD7; height: 25%" id="header">
    <h1>Roskilde Frie Børnehave</h1>
    <nav class="menubutton" style="width: 100%">
        <a th:href="index.html">
            <button style="width: 25%">Forside</button>
        </a>
        <a th:href="oplysKid.html">
            <button style="width: 25%">Oplysninger</button>
        </a>
        <a th:href="oplysEmp.html">
            <button style="width: 25%">Info ansatte</button>
        </a>
        <a th:href="vagtplan.html">
            <button style="width: 25%">Vagtplan</button>
        </a>
    </nav>
</header>
<h1>Ændre information om barn</h1>
<form method="Post" th:action="@{/editKid}">
    <label>ID:</label>
    <input id="IDInput" type="text" th:field="${kid.ID}" readonly="true"/>
    <label>Fornavn:</label>
    <input type="text" th:field="${kid.fornavn}" required="true"/>
    <label>Efternavn:</label>
    <input type="text" th:field="${kid.efternavn}" required="true"/>
    <label>Alder:</label>
    <input type="text" th:field="${kid.fodselsdag}" required="true"/>
    <label>Indskrivningsår:</label>
    <input type="text" th:field="${kid.indskrivning}" required="true"/>
    <label>Forældre:</label>
    <input type="text" th:field="${kid.foraelder}" required="true"/>
    <label>Telefonnummer:</label>
    <input type="text" th:field="${kid.nummer}" required="true"/>
    <input type="submit" value="Send"/>
</form>
</body>
</html>