<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>index</title>
    <link rel="stylesheet" type="text/css" th:href="homepage.css"/>
</head>
<body>
<header style="background-color: #96CCD7; height: 25%" id="header">
    <h1>Roskilde Frie Børnehave</h1>
    <nav class="menubutton" style="width: 100%">
        <a href="generelt.html">
            <button style="width: 25%"> Generel info</button>
        </a>
        <a th:href="oplys.html">
            <button style="width: 25%">Oplysninger</button>
        </a>
        <button style="width: 25%">Info ansatte</button>
        <button style="width: 25%">Vagtplan</button>
    </nav>
</header>

</body>
</html>