<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Index</title>
    <link rel="stylesheet" type="text/css" th:href="@{Homepage.css}" href="homepage.css" />
    <link rel="stylesheet" type="text/css" th:href="@{Table.css}" href="Table.css" />
</head>
<body>
<header style="background-color: #96CCD7; height: 25%" id="header">
    <h1>Roskilde Frie Børnehave</h1>
    <nav class="menubutton" style="width: 100%">
        <a th:href="index.html">
            <button style="width: 25%">Forside</button>
        </a>
        <a th:href="oplysKid.html">
            <button style="width: 25%">Oplysninger</button>
        </a>
        <a th:href="oplysEmp.html">
            <button style="width: 25%">Info ansatte</button>
        </a>
        <a th:href="vagtplan.html">
            <button style="width: 25%">Vagtplan</button>
        </a>
    </nav>
</header>
<h3>Liste over børn i børnehaven</h3>
<a href="createKid.html">
    <button class="btn-create, btn" id="createBtn">create</button>
</a>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Fornavn</th>
        <th>Efternavn</th>
        <th>Alder</th>
        <th>Indskrivningsår</th>
        <th>Forældre</th>
        <th>Telefonnummer</th>

        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="kid: ${barn}">
        <td th:text="${kid.ID}"/>
        <td th:text="${kid.fornavn}"/>
        <td th:text="${kid.efternavn}"/>
        <td th:text="${kid.fodselsdag}"/>
        <td th:text="${kid.indskrivning}"/>
        <td th:text="${kid.foraelder}"/>
        <td th:text="${kid.nummer}"/>
        <td>
            <a th:href="@{'/detailsKid?id='+${kid.ID}}">
                <button class="btn-details btn">details</button>
            </a>
            <a th:href="@{'/editKid?id='+${kid.ID}}">
                <button class="btn-ed btn">edit</button>
            </a>
            <a th:href="@{'/deleteKid?id='+${kid.ID}}">
                <button class="btn-del btn">delete</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>