<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Index</title>
    <link rel="stylesheet" type="text/css" th:href="@{Homepage.css}" href="homepage.css" />
</head>
<body>
<h1>barn</h1>
<h3>Enrolled kid at KEA</h3>
<a href="create.html">
    <button class="btn-create, btn" id="createBtn">create</button>
</a>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Fødselsdag</th>
        <th>Indskrivningsår</th>
        <th>forældre</th>
        <th>telefonnummer</th>

        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="kid: ${barn}">
        <td th:text="${kid.ID}"/>
        <td th:text="${kid.fornavn}"/>
        <td th:text="${kid.efternavn}"/>
        <td th:text="${kid.fodselsdag}"/>
        <td th:text="${kid.indskrivning}"/>
        <td th:text="${kid.foraelder}"/>
        <td th:text="${kid.nummer}"/>
        <td>
            <a th:href="@{'/details?id='+${kid.ID}}">
                <button class="btn-details btn">details</button>
            </a>
            <a th:href="@{'/edit?id='+${kid.ID}}">
                <button class="btn-ed btn">edit</button>
            </a>
            <a th:href="@{'/delete?id='+${kid.ID}}">
                <button class="btn-del btn">delete</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>