<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{Homepage.css}" href="homepage.css" />
    <link rel="stylesheet" type="text/css" th:href="@{Table.css}" href="Table.css" />
    <title>Vagtplan</title>
</head>
<body>
<header style="background-color: #96CCD7; height: 25%" id="header">
    <h1>Roskilde Frie Børnehave</h1>
    <nav class="menubutton" style="width: 100%">
        <a th:href="index.html">
            <button style="width: 25%">Forside</button>
        </a>
        <a th:href="oplysKid.html">
            <button style="width: 25%">Oplysninger</button>
        </a>
        <a th:href="oplysEmp.html">
            <button style="width: 25%">Info ansatte</button>
        </a>
        <a th:href="vagtplan.html">
            <button style="width: 25%">Vagtplan</button>
        </a>
    </nav>
</header>
<h3>Vagter</h3>
<a href="createVagt.html">
    <button class="btn-create, btn" id="createBtn">create</button>
</a>

<table>
    <thead>
    <tr>
        <th>Mandag</th>
        <th>Tirsdag</th>
        <th>Onsdag</th>
        <th>Torsdag</th>
        <th>Fredag</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vagtplan: ${vagter}">
        <td th:text="${vagtplan.ansat}" th:if="${vagtplan.dag}==1"/>  <td th:unless="${vagtplan.dag}==1">&nbsp;</td>
        <td th:text="${vagtplan.ansat}" th:if="${vagtplan.dag}==2"/>  <td th:unless="${vagtplan.dag}==2">&nbsp;</td>
        <td th:text="${vagtplan.ansat}" th:if="${vagtplan.dag}==3"/>  <td th:unless="${vagtplan.dag}==3">&nbsp;</td>
        <td th:text="${vagtplan.ansat}" th:if="${vagtplan.dag}==4"/>  <td th:unless="${vagtplan.dag}==4">&nbsp;</td>
        <td th:text="${vagtplan.ansat}" th:if="${vagtplan.dag}==5"/>  <td th:unless="${vagtplan.dag}==5">&nbsp;</td>

        <td>
            <!--<a th:href="@{'/detailsKid?id='+${kid.ID}}">
                <button class="btn-details btn">details</button>
            </a>
            <a th:href="@{'/editKid?id='+${kid.ID}}">
                <button class="btn-ed btn">edit</button>
            </a>
            <a th:href="@{'/deleteKid?id='+${kid.ID}}">
                <button class="btn-del btn">delete</button>
            </a>-->
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>